@model IEnumerable<pharmace.Models.Orders>

@{
    ViewData["Title"] = "الطلبات";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<section class="table-components">
    <div class="container-fluid">
        <h4 class="my-4" dir="rtl">الطلبات</h4>
        <div class="row my-4">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <div class="table-wrapper table-responsive" dir="rtl">
                        <table class="table mx-auto text-center ">
                            <thead>
                                <tr>
                                    <th>
                                        <h6>الاسم</h6>
                                    </th>
 @*                                    <th>
                                        <h6>الدواء المطلوب</h6>
                                    </th> *@
                                    <th>
                                        <h6>العنوان</h6>
                                    </th>  
                                    <th>
                                        <h6>التاريخ</h6>
                                    </th>
                                    <th>
                                        <h6>الحالة</h6>
                                    </th>
                                    <th>
                                        <h6>التفاصيل</h6>
                                    </th>    
                                    <th>
                                        <h6>رفض الطلب</h6>
                                    </th>
                                </tr>
                                <!-- end table row-->
                            </thead>
                            <tbody>
                                @foreach (var c in Model)
                                {
                                    <tr>

                                        <td class="min-width">
                                            <p>@(c.fname +" " +c.sname)</p>
                                        </td>
@*                                         <td class="min-width">
                                            <p ><a href="#0">قيتامين سى</a></p>
                                        </td> *@
                                        <td class="min-width">
                                            <p>@c.address</p>
                                        </td> 
                                        <td class="min-width">
                                            <p>@c.Date</p>
                                        </td>
                                        @if (c.states ==true)
                                        {
                                            <td class="min-width">
                                                <a href="@Url.Action("states", "Dashboard", new { id = c.Id })">
                                                <button class=" btn btn-success btn-sm text-nowrap">
                                                    تم الموافقه
                                                </button>
                                            </a>
                                        </td>  }else{
                                        <td class="min-width">
                                                <a href="@Url.Action("states", "Dashboard", new { id = c.Id })">
                                                <button class=" btn btn-info btn-sm text-nowrap">
                                                    قيد
                                                </button>
                                            </a>
                                        </td>
                                        }  

                                        <td>
                                            <div class="details min-width">
                                                <a href="@Url.Action("View_OrderDetails", "UsersDashboard", new { id = c.Id })">
                                                <button class=" btn btn-info btn-sm text-nowrap">
                                                    تفاصيل الطلب
                                                </button>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="details min-width">
                                                <a href="@Url.Action("refeuse", "Dashboard", new { id = c.Id })">
                                                <button class=" btn btn-info btn-sm text-nowrap">
                                                        رفض الطلب
                                                </button>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" style="display: flex; align-items: center; justify-content: center;">
            <ul class="pagination" style="direction: ltr;">
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("allOrders", new { page = ViewBag.CurrentPage - 1  })" aria-label="Previous">&laquo;</a>
                </li>

                @if (ViewBag.TotalPages > 10)
                {
                    var startPage = Math.Max(1, ViewBag.CurrentPage - 4);
                    var endPage = Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 5);

                    if (ViewBag.CurrentPage < 6)
                    {
                        endPage = 10;
                    }
                    else if (ViewBag.CurrentPage > ViewBag.TotalPages - 5)
                    {
                        startPage = ViewBag.TotalPages - 9;
                    }

                    for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("allOrders", new { page = i  })">@i</a>
                        </li>
                    }
                }
                else
                {
                    for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("allOrders", new { page = i})">@i</a>
                        </li>
                    }
                }

                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("allOrders", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">&raquo;</a>
                </li>
            </ul>
        </nav>

    </div>
</section>
