@model IEnumerable<pharmace.Models.userpermations>

@{
    ViewData["Title"] = "ألمستخدمين";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<section class="table-components">

    <div class="container-fluid">

        <div class="d-flex justify-content-end my-4">
            <button class="btn btn-info text-nowrap" data-bs-toggle="modal" data-bs-target="#addnewuser">
                مستخدم جديد
            </button>
        </div>

        <h4 class="my-4" dir="rtl">المستخدمين</h4>
        <div class="row my-4">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <div class="table-wrapper table-responsive" dir="rtl">
                        <table class="table">
                            <thead>
                                <tr>
@*                                     <th>
                                        <h6>#</h6>
                                    </th> *@
                                    <th>
                                        <h6>الاسم</h6>
                                    </th>
                                    <th>
                                        <h6> الايميل</h6>
                                    </th>
                                    <th>
                                        <h6>العنوان</h6>
                                    </th>
                                    <th>
                                        <h6>رقم الهاتف</h6>
                                    </th>

                                    <th>
                                        <h6>الأذونات</h6>
                                    </th>
                                    <th>
                                        <h6></h6>
                                    </th>
                                </tr>
                                <!-- end table row-->
                            </thead>
                            <tbody>
                                @foreach (var x in Model)
                                {


                                    <tr>
                                        @*                                     <td>
                                        #01
                                    </td> *@

                                        <td class="min-width">
                                            <p>@x.Username</p>
                                        </td>
                                        <td class="min-width">
                                            <p> @x.Email</p>
                                        </td>
                                        <td class="min-width">
                                            <p>@x.Address</p>
                                        </td>
                                        <td class="min-width">
                                            <p>@x.PhoneNumber</p>
                                        </td>
                                        <td class="min-width">
                                            <p class="text-info-emphasis">@x.Role</p>
                                        </td>
                                        <td>
                                            <div class="action">
                                                <button type="button" class="btn" data-id="@x.Id" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                                    <i class="fa-regular fa-trash-can" style="color: #ba2121;"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- end table row -->
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" style="display: flex; align-items: center; justify-content: center;">
            <ul class="pagination" style="direction: ltr;">
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("AllUsers", new { page = ViewBag.CurrentPage - 1  })" aria-label="Previous">&laquo;</a>
                </li>

                @if (ViewBag.TotalPages > 10)
                {
                    var startPage = Math.Max(1, ViewBag.CurrentPage - 4);
                    var endPage = Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 5);

                    if (ViewBag.CurrentPage < 6)
                    {
                        endPage = 10;
                    }
                    else if (ViewBag.CurrentPage > ViewBag.TotalPages - 5)
                    {
                        startPage = ViewBag.TotalPages - 9;
                    }

                    for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("AllUsers", new { page = i  })">@i</a>
                        </li>
                    }
                }
                else
                {
                    for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("AllUsers", new { page = i})">@i</a>
                        </li>
                    }
                }

                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("AllUsers", new { page = ViewBag.CurrentPage + 1 })" aria-label="Next">&raquo;</a>
                </li>
            </ul>
        </nav>

    </div>
</section>



<!-- Modal for Adding User -->

<div class="modal fade" id="addnewuser" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="add" asp-controller="UsersDashboard" class="form-floating" dir="rtl">
                    <div class="row mt-5 ">
                        <div class="col-6 mb-2 text-end">
                            <div class="form-floating ">
                                <input type="text" class="form-control" id="firstname" name="fname" placeholder="الاسم الأول"
                                       required>
                                <label for="firstname"> الاسم الأول</label>

                            </div>
                        </div>
                        <div class="col-6 mb-2 text-end">
                            <div class="form-floating ">
                                <input type="text" class="form-control" id="sname" name="sname" placeholder="الاسم الثانى"
                                       required>
                                <label for="sname"> الاسم الثانى</label>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col text-end">
                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" id="custEmail" name="Emaile" placeholder="البريد الإلكتروني"
                                       required>
                                <label for="custEmail">عنوان البريد الإلكتروني</label>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col text-end">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="useraddress" name="address" placeholder="العنوان"
                                       required>
                                <label for="useraddress"> العنوان</label>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col text-end">
                            <div class="form-floating mb-2">
                                <select class="form-select" id="userrole" name="role" required>
                                    <option value="user">مستخدم</option>
                                    <option value="admin">أدمن</option>
                                </select>
                                <label for="userrole">الدور</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col text-end">
                            <div class="form-floating mb-2">
                                <input type="password" class="form-control" id="password" name="passworde" placeholder="كلمة السر"
                                       required>
                                <label for="password">كلمة السر</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-end">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="passwordd" name="passwordconfirme" placeholder="كلمة السر"
                                       required>
                                <label for="password">تأكيد كلمة السر</label>
                            </div>
                        </div>
                    </div> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">إغلاق</button>
                        <button type="submit" class="btn btn-success"> اضافة </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div><!-- ======= Modal End -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                هل انت متاكد من حذف هذا المستخدم ؟
            </div>
            <div class="modal-footer" style="justify-content: space-around;">
                <a id="delete-link" href="#">
                    <button type="button" class="btn btn-primary submit m-0 p-0 dep rounded-pill" style="width: 100px; height: 50px;">
                        <label class="mb-0 mx-auto ms-2">نعم</label>
                        <i class="fa-solid fa-check"></i>
                    </button>
                </a>
                <button type="button" class="btn btn-danger bg-danger p-0 rounded-pill" data-bs-dismiss="modal" style="width: 100px; height: 50px;">
                    <label class="mb-0 mx-auto ms-2">لا</label>
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Ensure DOM content is loaded before attaching event listeners
    document.addEventListener('DOMContentLoaded', function () {
        var staticBackdrop2 = document.getElementById('staticBackdrop2');

        staticBackdrop2.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            // Extract info from data-* attributes
            var itemId = button.getAttribute('data-id');
            // Update the delete link with the correct id
            var deleteLink = document.getElementById('delete-link');
            deleteLink.href = '/UsersDashboard/deleteuser/' + itemId;
        });
    });
</script>