@model IEnumerable<pharmace.Models.orderprodect>

@{
    ViewData["Title"] = "تفاصيل الطلب";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    userpermations user = ViewBag.user;
    Orders orders = ViewBag.order;
}
<style>
   
</style>
<div class="container my-5" dir="rtl">
    <div class="customer-info">
        <h4 class="mb-3 text-primary">معلومات العميل</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">الاسم الكامل</label>
                <p class="form-control">@(orders.fname + " " + orders.sname)</p>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">البريد الإلكتروني</label>
                <p class="form-control">@orders.email</p>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">رقم الهاتف</label>
                <p class="form-control">@orders.phone</p>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label"> رقم الهاتف الاخر</label>
                <p class="form-control">@orders.sphone</p>
            </div>
@*             <div class="col-md-6 mb-3">
                <label class="form-label">الهاتف البديل</label>
                <p class="form-control">@</p>
            </div> *@
            <div class="col-12">
                <label class="form-label">العنوان</label>
                <p class="form-control">@orders.address</p>
            </div>
        </div>
    </div>

    <div class="order-summary">
        <h4 class="mb-3 text-primary">المنتجات المطلوبة</h4>

        @foreach (var c in Model)
        {
            <div class="order-product-dash-details mb-4">
                <img src="@Url.Action("GetImage", "Dashboard", new { fileName =c.proudect.image })" alt="Student Photo" class="product-img-orderdetails" />

                @* <img class="product-img-orderdetails" src="~/assets/images/products/22.png" alt="Product Image"> *@
            <div class="info">
                <h5 class="mb-1">@c.proudect.Name </h5>
                    <p class="text-muted text-truncate mb-1" style="max-width:250px">@c.proudect.Description</p>
                    <p class="order-product-price mb-0 text-success-emphasis">السعر: @c.proudect.Price</p>
                <p class="order-product-quantity mb-0">الكمية: @c.count</p>
            </div>
        </div>
        }
        <hr>
        <div class="d-flex gap-2 align-items-center ">
            <h4 class="text-primary">المجموع الكلي:</h4>
            <h4 class="total-Price text-success-emphasis"> @ViewBag.sum  جنية</h4>
        </div>
    </div>
</div>

